/*Навігація
========================================================*/
nav {
	width:960px;
	margin: 0 auto;
}

nav:before{
 content: '';
 display: block;
 height: 50px;
 width:100%;
 background:rgba(0,0,0,0.9);
 position: absolute;
 left: 0;
 z-index:-1;
}

ul{
	margin:0;
	padding: 0;
	list-style: none;
	height:50px;
}
ul li {
	float:left;
	padding-left:15px;

}
ul li a{
	color: #fff;
	display:block;
	height:50px; 
	padding:0 30px;
	text-transform:uppercase;
	text-decoration:none;
	line-height:50px;
	opacity:.6;
}
ul li a:hover{
		transition:0.8s;
		opacity:1;
	}
/*Фон
========================================================*/
body { background-image: url(Jazz.jpg); }
body { background-position: center 30px; }
body { background-repeat: no-repeat; }
body{
    background: url(Jazz.jpg) no-repeat center top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
     background-size: cover;
/*Силки
========================================================*/
}
a{
	text-decoration: none;
	color:	#000000;
}
/*Підвал
=========================================================*/
.footer{
 display:flex;

}
.footer-text{
	position:relative;left:28%;
	font-family:"Century Gothic" cursive;
}